# 1- Variables y Operadores

Curso Introducción a Python - Tecnun, Universidad de Navarra

El objetivo de este documento es conocer algunos tipos de variables y operadores empleados en Python.

## Hello, world!

Pero, antes de entrar en materia, vamos a iniciarnos con la línea de código con la que empieza todo el mundo.

El comando *print()* nos muestra por pantalla lo que le pasemos como argumento. En este caso, queremos ver por pantalla el texto "Hello, world!".

In [7]:
print("Hello World!")

Hello World!

Obsérvese que podemos emplear tanto comillas simples como dobles para trabajar con cadenas de caracteres.

## Variables numéricas y operadores

Vamos a empezar por las variables numéricas. Las más empleadas son las variables enteras (**int**) y flotantes (**float**). Con las primeras podremos representar los números enteros, y, con las segundas, cualquier número con decimales.

In [8]:
entero = 5
decimal = 3.1415

Podemos operar con los dos tipos de variables de la misma manera utilizando los operadores suma (**\+**), resta (**\-**), multiplicación (**\***) y división (**\/**). Debemos tener en cuenta que el resultado de cualquier operación realizada con variables flotantes será otra variable flotante. El resultado de cualquier operación realizada con variables enteras, por el contrario, será otra variable entera, a excepción de la división, que será flotante.

In [9]:
suma = entero + entero
resta = entero - decimal
multiplicacion = entero * decimal
division = entero / decimal

Python también permite mezclar variables enteras y flotantes en la misma operación. En este caso, el resultado siempre será flotante.

In [10]:
operacion = entero*2 - decimal

Existen otros tres operadores que nos pueden resultar de utilidad: la potencia (**\*\***), la división entera (**//**) y el residuo de la división(**%**). El resultado de estas operaciones mantiene la naturaleza de las variables con las que estamos operando.

In [11]:
operacion = decimal**2 // entero

Para terminar con las variables numéricas, introduciremos la función **type()**. Esta función nos mostrará el tipo de variable que estamos utilizando y se puede emplear para cualquier tipo de variable.

In [12]:
type(operacion)

float

## Cadenas de caracteres y operadores

Como hemos comentado más arriba, las cadenas de caracteres (string) puede escribirse con comillas simples o dobles.

In [13]:
h = "hello"
w = "world"
print(h)
print("\n")
print(w)

hello


world

De la misma forma que hemos hecho con las variables numéricas, podemos emplear los operadores suma (**\+**) y multiplicación (**\***) para operar con las cadenas de caracteres. Con el primer operador concatenaremos las cadenas que estamos "sumando", mientras que con el segundo repetiremos la cadena tantas veces como el número que la multiplica.

In [14]:
print(f"{h} {w}")
# Que es lo mismo que
print(h + " " + w)

hello world
hello world

Hay que tener mucho cuidado con los tipos de variable con los que estamos trabajando al hacer este tipo de operaciones. Véase un ejemplo:

In [15]:
print(h + suma)
# Esta sería la forma correcta
# print(h + str(suma))

TypeError: can only concatenate str (not "int") to str

El poder emplear las comillas simples o dobles para crear las cadenas de caracteres facilita la inclusión de estos símbolos en el texto.

In [26]:
print("Javier's notebook")

Javier's notebook

Al igual que otros lenguajes de programación, Python permite acceder a los elementos de las cadenas de caracteres. Para ello, hay que tener en cuenta que el primer elemento de la cadena está ubicado en la posición 0.

In [27]:
frase = "Hey que pasa"
print(frase[0])

H

## Conversión de tipos de variables

Utilizando las funciones **int()**, **float()** y **str()**, se pueden convertir las variables de un tipo a otro. De todas formas, hay que tener cuidado al convertir flotantes a enteros, o cadenas de caracteres a enteros o flotantes.

In [ ]:
numero = 5
print(frase + " " + str(numero))

## Listas

Las listas son un tipo de variable que contienen distintas variables de cualquier tipo en su interior.

In [43]:
lista1 = [1, 2, 3, 4]
lista2 = [3, 5, 67, 12]
lista3 = ["Hola", 5]
print(lista1)
print(lista2)
print(lista3)
print(lista3[0][1])

[1, 2, 3, 4]
[3, 5, 67, 12]
['Hola', 5]
o

Las listas pueden contener elementos de distinta naturaleza.

De la misma manera que con los elementos de las cadenas de caracteres, se puede acceder a los elementos de las listas de la siguiente manera:

## Otras variables

Aunque no entraremos en detalle, vamos a introducir tres tipos de variables más: los diccionarios, las tuplas y los conjuntos.

In [18]:
dictionary = {"Nombre": "jaime", "Edad" : 25}
nombre = dictionary["Nombre"];
print(nombre)
print(dictionary.keys())
print(dictionary.values())

jaime
dict_keys(['Nombre', 'Edad'])
dict_values(['jaime', 25])

In [21]:
dictionary = {'Asignatura 1' : 'Ciencia de Datos en Python', 2 : ['a', 2, 3.0], 3.0 : 'Machine Learning', 'Asignatura 4' : 10}
tupla = ('CDPy', 2, 5.0, 'DP')
conjunto1 = {'a', 2, 3.0}
conjunto2 = {'a', 2, 4.0}

print(dictionary)
print(dictionary['Asignatura 1'])
print(dictionary[2])
print(dictionary[3.0])
print(dictionary['Asignatura 4'])
# print(dictionary[0]) #Esta línea de código da error.
print('\n')
print(tupla)
print(tupla[2])
print('\n')
print(conjunto1)
# print(conjunto[0]) #Esta línea de código da error.
conjunto1.add('a')
print(conjunto1)
print(conjunto1 & conjunto2)
print(conjunto1 | conjunto2)
print(conjunto1 - conjunto2)
print(conjunto1 ^ conjunto2)

{'Asignatura 1': 'Ciencia de Datos en Python', 2: ['a', 2, 3.0], 3.0: 'Machine Learning', 'Asignatura 4': 10}
Ciencia de Datos en Python
['a', 2, 3.0]
Machine Learning
10


('CDPy', 2, 5.0, 'DP')
5.0


{2, 3.0, 'a'}
{2, 3.0, 'a'}
{2, 'a'}
{2, 3.0, 4.0, 'a'}
{3.0}
{3.0, 4.0}

In [30]:
ls = []
ls.append(12) #Añadir un elemento a la lista
print(type(conjunto1))
ls

<class 'set'>

[12]

Como hemos comentado antes, las posiciones en las cadenas de caracteres y listas empiezan a contar desde 0.

El operador **:** se emplea para obtener los valores guardado en más de una posición del vector (corte del vector).

In [19]:
cadena4 = "abcdefg"
lsita4 = ["a", "b", "c", "d", "e", "f", "g"]
print(cadena4[::-1])
print(lsita4[2])
# bcd
# ace
# dar la vuelta
# gec
print(cadena4[1:4])
print(cadena4[:5:2])
print(cadena4[::-1])
print(cadena4[:0:-2])

gfedcba
c
bcd
ace
gfedcba
gec

En este caso, a pesar de poner **[0:4]** estamos extrayendo los elementos guardados en las posiciones 0, 1, 2 y 3. **Es muy importante tener en cuenta que el primer valor (0) sí que se extraerá, pero no así el último**.

Aparte de acceder a los vectores por el primer elemento, también podemos acceder a ellos desde el último empleando el operador **-**.

También podemos extraer elementos a saltos, por ejemplo, aquellos elementos que están en posiciones pares. Para ello, volvemos a emplear el operador **:** junto con un tercer número que indica el paso.

Para terminar, también con el operador **-** podemos darle la vuelta al vector.