# Práctica Pandas: 
# INFORME SOBRE CUENTAS BANCARIAS DE LOS AÑOS 2010 Y 2011

Introducción a la Programación en Python 2021
by Fernando Carazo

In [1]:
%config IPCompleter.greedy=True
import pandas as pd

### Load data

In [37]:
data = pd.read_excel("Banco.xlsx")
data = pd.DataFrame(data)
data.head()

    Año      Mes   Sucursal         Tipo Cta Nuevo Cliente  Importe
0  2011    Enero     Madrid        Corriente            Sí     2500
1  2011    Enero  Barcelona  Fondo Inversión            Sí    10000
2  2011    Enero  Salamanca        Corriente            Sí     3500
3  2011  Febrero  Barcelona  Fondo Inversión            No    75000
4  2011  Febrero  Barcelona  Fondo Inversión            No   100000

### 0. Numero de cuentas por año. ¿Y por mes y año?

### 1.	Cantidad total de importe de clientes por año

### 2.	¿Cuánto ha aumentado /disminuido 2011 vs 2010? ¿Y según tipo de cuenta?

### 3.	¿Cómo se distribuye el importe según las sucursales? ¿y en porcentajes? ¿Qué sucursal ha ingresado más?

### 4.	¿Y por tipo de cuenta bancaria? ¿Qué tipo de cuenta habría que fortalecer?

### 5.	¿Cómo se distribuyen los tipos de cuenta según ciudad?

### 6.	¿Qué tipo de cuenta es la más fuerte en cada ciudad?

### 7.	¿Qué cuenta habría que fortalecer en Barcelona? ¿Y en Madrid?

### 8.	¿Cuántos nuevos clientes se han conseguido en 2010? ¿y en 2011?

### 9.	Haga un análisis de los nuevos clientes. Si usted fuera el director del banco, ¿Dónde le gustaría mejorar?