# Práctica Pandas: 
# INFORME SOBRE CUENTAS BANCARIAS DE LOS AÑOS 2010 Y 2011

Introducción a la Programación en Python 2021
by Fernando Carazo

In [95]:
%config IPCompleter.greedy=True
import pandas as pd

### Load data

In [96]:
data = pd.read_excel("Banco.xlsx")
data = pd.DataFrame(data)
data.head()

    Año      Mes   Sucursal         Tipo Cta Nuevo Cliente  Importe
0  2011    Enero     Madrid        Corriente            Sí     2500
1  2011    Enero  Barcelona  Fondo Inversión            Sí    10000
2  2011    Enero  Salamanca        Corriente            Sí     3500
3  2011  Febrero  Barcelona  Fondo Inversión            No    75000
4  2011  Febrero  Barcelona  Fondo Inversión            No   100000

### 0. Numero de cuentas por año. ¿Y por mes y año?

In [97]:
print("Número de cuentas por año:\n\r")
print(data.groupby(["Año"]).count())

# Meses diferentes
# set(data["Mes"])


print("Numero de cuentas por año y mes")
print(data.groupby(["Año", "Mes"]).count())

Número de cuentas por año:

      Mes  Sucursal  Tipo Cta  Nuevo Cliente  Importe
Año
2010  119       119       119            119      119
2011  119       119       119            119      119
Numero de cuentas por año y mes
              Sucursal  Tipo Cta  Nuevo Cliente  Importe
Año  Mes
2010 Enero          59        59             59       59
     Febrero        60        60             60       60
2011 Enero          59        59             59       59
     Febrero        60        60             60       60

### 1.	Cantidad total de importe de clientes por año

In [98]:
print(data.groupby(["Año"])["Importe"].sum())

Año
2010    2231240
2011    2678000
Name: Importe, dtype: int64

### 2.	¿Cuánto ha aumentado /disminuido 2011 vs 2010? ¿Y según tipo de cuenta?

In [99]:
diffImportePorAño = (data.groupby(["Año"])["Importe"].sum()).diff()

print(diffImportePorAño)
print("\n\r")

diffImportePorAñoYTC = (data.groupby(["Año", "Tipo Cta"]).sum()).diff(periods=4)

print(diffImportePorAñoYTC.columns)

print(diffImportePorAñoYTC)

Año
2010         NaN
2011    446760.0
Name: Importe, dtype: float64


Index(['Importe'], dtype='object')
                        Importe
Año  Tipo Cta
2010 Corriente              NaN
     Cuenta Vivienda        NaN
     Fondo Inversión        NaN
     Plan Jubilación        NaN
2011 Corriente        1016200.0
     Cuenta Vivienda  -570770.0
     Fondo Inversión  -162600.0
     Plan Jubilación   163930.0

### 3.	¿Cómo se distribuye el importe según las sucursales? ¿y en porcentajes? ¿Qué sucursal ha ingresado más?

In [100]:
# print(data.head(5))

sucursalGroup = data.groupby(["Sucursal"])
print("\n\n\nImporte por sucursal en bruto:")
importeTotalPorSucursal = sucursalGroup["Importe"].sum()
print(importeTotalPorSucursal.sort_values(ascending=False))

total = importeTotalPorSucursal.sum()
print("\n\n\nImporte en porcentaje")
print(importeTotalPorSucursal / total*100)

print("\n\n\nLa sucursal que más ha ganado es:")
print(importeTotalPorSucursal[importeTotalPorSucursal == importeTotalPorSucursal.max()])

Importe por sucursal en bruto:
Sucursal
Barcelona    1651500
Pamplona     1493520
Madrid       1339670
Salamanca     424550
Name: Importe, dtype: int64



Importe en porcentaje
Sucursal
Barcelona    33.640645
Madrid       27.288745
Pamplona     30.422632
Salamanca     8.647978
Name: Importe, dtype: float64



La sucursal que más ha ganado es:
Sucursal
Barcelona    1651500
Name: Importe, dtype: int64

### 4.	¿Y por tipo de cuenta bancaria? ¿Qué tipo de cuenta habría que fortalecer?

In [101]:
tipoGroup = data.groupby(["Tipo Cta"])
ImportePorTipo = tipoGroup["Importe"].sum()
print("Importe por tipo de cuenta:\n\r")
print(ImportePorTipo.sort_values(ascending=False))
print("\n\n\nImporte en porcentaje")
print((ImportePorTipo / ImportePorTipo.sum() * 100).sort_values(ascending=False))
print("\n\n\nEl tipo de cuenta que hay que fortalecer es:\n\r")
print(ImportePorTipo[ImportePorTipo == ImportePorTipo.min()])

Importe por tipo de cuenta:

Tipo Cta
Fondo Inversión    1703600
Cuenta Vivienda    1636770
Corriente          1345800
Plan Jubilación     223070
Name: Importe, dtype: int64



Importe en porcentaje
Tipo Cta
Fondo Inversión    34.701909
Cuenta Vivienda    33.340599
Corriente          27.413612
Plan Jubilación     4.543881
Name: Importe, dtype: float64



El tipo de cuenta que hay que fortalecer es:

Tipo Cta
Plan Jubilación    223070
Name: Importe, dtype: int64

### 5.	¿Cómo se distribuyen los tipos de cuenta según ciudad?

In [111]:
groupCityType = data.groupby(["Sucursal", "Tipo Cta"])
print("Número de cuentas por ciudad y tipo de cuenta:\n\r")
pd.DataFrame(groupCityType["Importe"].count())

Número de cuentas por ciudad y tipo de cuenta:

                           Importe
Sucursal  Tipo Cta
Barcelona Corriente             16
          Cuenta Vivienda       12
          Fondo Inversión       14
Madrid    Corriente             34
          Cuenta Vivienda       10
          Fondo Inversión        8
          Plan Jubilación        8
Pamplona  Corriente             28
          Cuenta Vivienda       16
          Fondo Inversión       24
          Plan Jubilación       12
Salamanca Corriente             28
          Cuenta Vivienda        8
          Fondo Inversión       14
          Plan Jubilación        6

### 6.	¿Qué tipo de cuenta es la más fuerte en cada ciudad?

In [103]:
mejorCuenta = pd.DataFrame(data.groupby(["Sucursal", "Tipo Cta"])["Importe"].sum())
mejorCuenta1 = mejor_cuenta.max(level=0).reset_index()
mejorTipo = pd.DataFrame(mejor_cuenta.max(level=1).reset_index()["Tipo Cta"])
mejorCuenta1["Tipo Cta"] = mejor_tipo["Tipo Cta"]
mejorCuenta1

    Sucursal  Importe         Tipo Cta
0  Barcelona   723400        Corriente
1     Madrid  1037070  Cuenta Vivienda
2   Pamplona   950900  Fondo Inversión
3  Salamanca   179500  Plan Jubilación

### 7.	¿Qué cuenta habría que fortalecer en Barcelona? ¿Y en Madrid?

In [104]:
mejorarBarcelona = pd.DataFrame(data[data["Sucursal"] == "Barcelona"].groupby(["Sucursal", "Tipo Cta"])["Importe"].sum()).sort_values("Importe",ascending=False)
mejorarBarcelona = mejorarBarcelona[mejorarBarcelona["Importe"] == mejorarBarcelona["Importe"].min()]
mejorarBarcelona

                           Importe
Sucursal  Tipo Cta
Barcelona Cuenta Vivienda   430600

In [105]:
mejorarMadrid = pd.DataFrame(data[data["Sucursal"] == "Madrid"].groupby(["Sucursal", "Tipo Cta"])["Importe"].sum()).sort_values("Importe",ascending=False)
mejorarMadrid = mejorarMadrid[mejorarMadrid["Importe"] == mejorarMadrid["Importe"].min()]
mejorarMadrid

                          Importe
Sucursal Tipo Cta
Madrid   Plan Jubilación    32800

### 8.	¿Cuántos nuevos clientes se han conseguido en 2010? ¿y en 2011?

In [106]:
nClientesAño = pd.DataFrame(data[data["Nuevo Cliente"] == "Sí"].groupby(["Año"])["Nuevo Cliente"].count())
nClientesAño

      Nuevo Cliente
Año
2010             66
2011             65

### 9.	Haga un análisis de los nuevos clientes. Si usted fuera el director del banco, ¿Dónde le gustaría mejorar?

In [107]:
nClientesAñoSucursal = pd.DataFrame(data[data["Nuevo Cliente"] == "Sí"].groupby(["Año", "Sucursal"])["Nuevo Cliente"].count())
nClientesAñoSucursal

                Nuevo Cliente
Año  Sucursal
2010 Barcelona             10
     Madrid                15
     Pamplona              25
     Salamanca             16
2011 Barcelona             10
     Madrid                15
     Pamplona              38
     Salamanca              2

In [108]:
nClientesAñoSucursal2010 = pd.DataFrame(data.loc[(data["Año"] == 2010) & (data["Nuevo Cliente"] == "Sí")].groupby(["Sucursal"])["Importe"].count())
nClientesAñoSucursal2010 = nClientesAñoSucursal2010[nClientesAñoSucursal2010["Importe"] == nClientesAñoSucursal2010["Importe"].min()]
nClientesAñoSucursal2010

           Importe
Sucursal
Barcelona       10

Tendríamos que mejorar en este caso en Barcelona ya que es la sucursal que menos consiguió en el 2010

In [109]:
nClientesAñoSucursal2011 = pd.DataFrame(data.loc[(data["Año"] == 2011) & (data["Nuevo Cliente"] == "Sí")].groupby(["Sucursal"])["Importe"].count())
nClientesAñoSucursal2011 = nClientesAñoSucursal2011[nClientesAñoSucursal2011["Importe"] == nClientesAñoSucursal2011["Importe"].min()]
nClientesAñoSucursal2011

           Importe
Sucursal
Salamanca        2

También habría que mejorar Salamanca que en el 2011 fue la que menos clientes nuevos obtuvo