# Práctica Pandas: 
# INFORME SOBRE CUENTAS BANCARIAS DE LOS AÑOS 2010 Y 2011

Introducción a la programación en Python 2021


Fuente de datos: http://davidasurmendi.blogspot.com/

In [3]:
%config IPCompleter.greedy=True
import pandas as pd

### Load data

In [4]:
data = pd.read_excel("Banco.xlsx")
data = pd.DataFrame(data)
data.head()

    Año      Mes   Sucursal         Tipo Cta Nuevo Cliente  Importe
0  2011    Enero     Madrid        Corriente            Sí     2500
1  2011    Enero  Barcelona  Fondo Inversión            Sí    10000
2  2011    Enero  Salamanca        Corriente            Sí     3500
3  2011  Febrero  Barcelona  Fondo Inversión            No    75000
4  2011  Febrero  Barcelona  Fondo Inversión            No   100000

In [5]:
data.shape

(238, 6)

In [6]:
# Cambiar espacios en blanco por "_" en las columnas

In [7]:
data.columns = [c.replace(" ", "_") for c in data.columns]

In [8]:
data.head()

    Año      Mes   Sucursal         Tipo_Cta Nuevo_Cliente  Importe
0  2011    Enero     Madrid        Corriente            Sí     2500
1  2011    Enero  Barcelona  Fondo Inversión            Sí    10000
2  2011    Enero  Salamanca        Corriente            Sí     3500
3  2011  Febrero  Barcelona  Fondo Inversión            No    75000
4  2011  Febrero  Barcelona  Fondo Inversión            No   100000

### 0. Numero de cuentas por año. ¿Y por mes y año?

In [9]:
data.groupby(["Año"]).Sucursal.count()

Año
2010    119
2011    119
Name: Sucursal, dtype: int64

In [10]:
data.groupby(["Año", "Mes"]).Sucursal.count()

Año   Mes
2010  Enero      59
      Febrero    60
2011  Enero      59
      Febrero    60
Name: Sucursal, dtype: int64

In [11]:
data[data.Sucursal == "Madrid"].head(10)

     Año      Mes Sucursal         Tipo_Cta Nuevo_Cliente  Importe
0   2011    Enero   Madrid        Corriente            Sí     2500
9   2010  Febrero   Madrid  Plan Jubilación            Sí      400
10  2010  Febrero   Madrid        Corriente            No      100
13  2011  Febrero   Madrid  Cuenta Vivienda            No    10000
15  2010  Febrero   Madrid        Corriente            Sí      400
16  2010  Febrero   Madrid  Cuenta Vivienda            Sí      320
19  2011  Febrero   Madrid        Corriente            Sí    10000
21  2010    Enero   Madrid        Corriente            No     1500
24  2010    Enero   Madrid        Corriente            No      400
25  2010    Enero   Madrid        Corriente            Sí     2500

## Tu turno...

In [12]:
# Inicialización del problema
%config IPCompleter.greedy=True
import pandas as pd
pd.options.display.float_format = '{:.2f}€'.format #se fija en dos los decimales porque se trabaja como mucho con céntimos de €
pd.reset_option("^display")

# Lectura de datos
data = pd.read_excel("Banco.xlsx")
data = pd.DataFrame(data)
data.columns = [c.replace(" ", "_") for c in data.columns]

In [13]:
# Estilo de los datos
# Funciones de estilo

def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, green otherwise.
    """
    color = 'red' if val < 0 else 'green'
    return 'color: %s' % color

def color_negative_red_passive(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

# Implementación de seaborn
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

cm_g = sns.light_palette("green", as_cmap=True)
cm_b = sns.light_palette("blue", as_cmap=True)
cm_rsb = sns.light_palette("rosybrown", as_cmap=True)
cm_crsn = sns.light_palette("maroon", as_cmap=True)

### 1.	Cantidad total de importe de clientes por año

In [14]:
# Importe total de clientes por año

In [15]:
data.groupby(["Año"]).Importe.sum().head()

Año
2010    2231240
2011    2678000
Name: Importe, dtype: int64

In [16]:
# Importe total de clientes por año como DataFrame

In [28]:
importe_año=pd.DataFrame(data.groupby(["Año"]).Importe.sum()).style.format({'Importe': "{:50,.2f}€"}, )
# importe_año=importe_año.applymap(color_negative_red)
importe_año

Respuesta:

Cantidad total importes 2010: 2,231,240.00€
Cantidad total importes 2011: 2,678,000.00€

### 2.	¿Cuánto ha aumentado /disminuido 2011 vs 2010? ¿Y según tipo de cuenta?

In [29]:
# Cuánto ha aumentado /disminuido 2011 vs 2010

In [46]:
variacion_año=pd.DataFrame(data.groupby(["Año"]).Importe.sum()).head()
variacion_año["Variación"]=variacion_año.diff()
variacion_año=variacion_año.style.background_gradient(cmap=cm_g,high=True,subset='Importe').format({'Importe': "{:,.2f}€", 'Variación': '{:+2,.2f}€'},)
variacion_año=variacion_año.applymap(color_negative_red)
variacion_año

Respuesta:

Los importes han aumentado un 446,760.00€

In [15]:
# Cuánto ha aumentado /disminuido 2011 vs 2010 y según tipo de cuenta

In [54]:
variación_cuenta=pd.DataFrame(data.groupby(["Año","Tipo_Cta"]).Importe.sum())
variación_cuenta["Variación"]=variación_cuenta.diff(periods=4)
variación_cuenta=variación_cuenta.style.background_gradient(cmap=cm_g,high=True, subset='Importe').format({'Importe': "{:20,.2f}€", 'Variación': '{:+20,.2f}€'}, )
variación_cuenta=variación_cuenta.applymap(color_negative_red)
variación_cuenta

Respuesta:

Cuenta Corriente: +1,016,200.00€
Cuenta Vivienda:    -570,770.00€
Fondo Inversión:    -162,600.00€
Plan Jubilación:    +163,930.00€

In [60]:
variación_cuenta.index

MultiIndex(levels=[[2010, 2011], ['Corriente', 'Cuenta Vivienda', 'Fondo Inversión', 'Plan Jubilación']],
           codes=[[0, 0, 0, 0, 1, 1, 1, 1], [0, 1, 2, 3, 0, 1, 2, 3]],
           names=['Año', 'Tipo_Cta'])

In [61]:
variación_cuenta.data.query('Año == 2010')

                      Importe  Variación
Año  Tipo_Cta
2010 Corriente         164800        NaN
     Cuenta Vivienda  1103770        NaN
     Fondo Inversión   933100        NaN
     Plan Jubilación    29570        NaN

### 3.	¿Cómo se distribuye el importe según las sucursales? ¿y en porcentajes? ¿Qué sucursal ha ingresado más?

In [62]:
# Distribución del importe según las sucursales (años 2010-2011)

In [63]:
importe_sucursales=pd.DataFrame(data.groupby(["Sucursal"]).Importe.sum()).sort_values("Importe",ascending=False).head()
importe_sucursales=importe_sucursales.style.background_gradient(cmap=cm_g,high=True,subset='Importe').format({'Importe': "{:20,.2f}€", 'Variación': '{:+20,.2f}€'}) 
importe_sucursales=importe_sucursales.applymap(color_negative_red)
importe_sucursales

Respuesta:

Barcelona: 1.651.500€
Pamplona:  1.493.520€
Madrid:    1.339.670€
Salamanca:   424.550€

In [64]:
# Distribución del importe según las sucursales (años 2010-2011) en porcentajes

In [65]:
importe_porcentaje=pd.DataFrame(data.groupby(["Sucursal"]).Importe.sum()).sort_values("Importe",ascending=False).tail()
importe_porcentaje["Porcentaje"]=importe_porcentaje.apply(lambda x:x/(importe_porcentaje.Importe.sum()))
importe_porcentaje=importe_porcentaje.style.background_gradient(cmap=cm_b,high=True,subset='Porcentaje').format({'Importe': "{:20,.2f}€", 'Porcentaje': '{:.3%}'}) 
importe_porcentaje

Respuesta:
    
Barcelona: 33.641 %
Pamplona:  30.423 %
Madrid:    27.289 %
Salamanca:  8.648 %

In [66]:
# ¿Qué sucursal ha ingresado más?

In [68]:
max_importe=pd.DataFrame(data.groupby(["Sucursal"]).Importe.sum()).sort_values("Importe",ascending=False).tail()
max_importe["Porcentaje"]=max_importe.apply(lambda x:x/(max_importe.Importe.sum()))
max_importe=max_importe.head(1)
max_importe=max_importe.style.background_gradient(cmap=cm_b,high=True,subset='Porcentaje').format({'Importe': "{:20,.2f}€", 'Porcentaje': '{:.3%}'}) 
max_importe

Resultado:

Barcelona ha ingresado una mayor cantidad con 1,651,500.00€ (33.641% de todas las sucursales)

### 4. ¿Y por tipo de cuenta bancaria? ¿Qué tipo de cuenta habría que fortalecer?

In [69]:
# Distribución del importe según tipo de cuenta bancaria (años 2010-2011)

In [71]:
importe_cta=pd.DataFrame(data.groupby(["Tipo_Cta"]).Importe.sum()).sort_values("Importe",ascending=False).tail()
importe_cta["Porcentaje"]=importe_cta.apply(lambda x:x/(importe_cta.Importe.sum()))
importe_cta=importe_cta.style.background_gradient(cmap=cm_b,high=True,subset='Porcentaje').format({'Importe': "{:20,.2f}€", 'Porcentaje': '{:.3%}'}) 
importe_cta

Respuesta:
    
Fondo Inversión:   1,703,600.00€    (34.702%)
Cuenta Vivienda:   1,636,770.00€    (33.341%)
Corriente:         1,345,800.00€   	(27.414%)
Plan Jubilación	:    223,070.00€     (4.544%)

In [72]:
# Tipo de cuenta a fortalecer

In [74]:
cuenta_fortalecer=pd.DataFrame(data.groupby(["Tipo_Cta"]).Importe.sum()).sort_values("Importe",ascending=False).tail()
cuenta_fortalecer["Porcentaje"]=cuenta_fortalecer.apply(lambda x:x/(cuenta_fortalecer.Importe.sum()))
cuenta_fortalecer=cuenta_fortalecer.tail(1)
cuenta_fortalecer=cuenta_fortalecer.style.background_gradient(cmap=cm_b,high=True,subset='Porcentaje').format({'Importe': "{:20,.2f}€", 'Porcentaje': '{:.3%}'}) 
cuenta_fortalecer

Resultado:

El tipo de cuenta con menores importes es el Plan Jubilación con 223,070.00€ (4.544% de todos los tipos de cuenta) por lo que habría que fortalecer dicha cuenta.

### 5.	¿Cómo se distribuyen los tipos de cuenta según ciudad?

In [75]:
# Distribución de los tipos de cuenta según ciudad

In [120]:
datos_ciudades=data.groupby(["Sucursal","Tipo_Cta"]).Importe.agg(['count']).rename(columns={'count':'Núm_Ingresos'})
datos_ciudades["%Núm_Ingresos"]=datos_ciudades.Núm_Ingresos.apply(lambda x:x/(datos_ciudades.Núm_Ingresos.sum()))

datos_ciudades_style=datos_ciudades.style.background_gradient(cmap=cm_crsn,high=False).format({'%Núm_Ingresos':'{:.3%}'})


datos_ciudades_style

Respuesta:
    
En la tabla de arriba se ordenan por sucursal y en orden alfabético el número de ingresos que se realizan en los distintos tipos de cuenta. La intensidad del color de las celdas respresenta el peso de los datos. Además, se propociona un gráfico que permite visualizar el peso de los datos.

### 6.	¿Qué tipo de cuenta es la más fuerte en cada ciudad?

In [83]:
# Fuerza de tipos de cuenta por ciudad (ordenando las ciudades en órden alfabético)

In [85]:
cuenta_fuerte=data.groupby(["Sucursal","Tipo_Cta"]).Importe.agg(['sum']).rename(columns={'sum':'Importe'})

cuenta_fuerte_1=cuenta_fuerte.max(level=0).reset_index()
cuenta_fuerte_2=pd.DataFrame(cuenta_fuerte.max(level=1).reset_index()["Tipo_Cta"])
cuenta_fuerte_1["Tipo_Cta"]=cuenta_fuerte_2["Tipo_Cta"]
cuenta_fuerte=cuenta_fuerte_1

cuenta_fuerte=cuenta_fuerte.set_index(['Sucursal', 'Tipo_Cta']).sort_values("Importe").sort_values("Importe", ascending=False)
cuenta_fuerte=cuenta_fuerte.style.background_gradient(cmap=cm_g,high=True,subset='Importe').format({'Importe': "{:20,.2f}€"})
cuenta_fuerte=cuenta_fuerte.applymap(color_negative_red)
cuenta_fuerte

Respuesta:
    
En la tabla se muestran los importes acumulados de mayor cantidad de todas las ciudades e indicando en qué tipo de cuenta se dan, se ordenan los importes en orden descendente.

### 7.	¿Qué cuenta habría que fortalecer en Barcelona? ¿Y en Madrid?

In [61]:
# Cuenta a fortalecer en Barcelona

In [86]:
fortalecer_Barcelona=data[data.Sucursal == "Barcelona"].groupby(["Sucursal","Tipo_Cta"]).Importe.agg(["sum"]).rename(columns={'sum':'Importe'}).sort_values("Importe",ascending=False)
fortalecer_Barcelona=fortalecer_Barcelona.style.background_gradient(cmap=cm_g,high=True,subset='Importe').format({'Importe': "{:20,.2f}€"})
fortalecer_Barcelona=fortalecer_Barcelona.applymap(color_negative_red)
fortalecer_Barcelona

Respuesta:
    
En la tabla se muestran los importes clasificados por cuentas en valor descendente. por tanto, la ultima celda del Tipo_Cta será  será la cuenta que se ha de fortalecer. Cuenta Vivienda con 430,600.00€

In [88]:
fortalecer_Barcelona=data[data.Sucursal == "Barcelona"].groupby(["Sucursal","Tipo_Cta"]).Importe.agg(["sum"]).rename(columns={'sum':'Importe'}).sort_values("Importe",ascending=False).tail(1)
fortalecer_Barcelona=fortalecer_Barcelona.style.background_gradient(cmap=cm_g,high=True,subset='Importe').format({'Importe': "{:20,.2f}€"})
fortalecer_Barcelona=fortalecer_Barcelona.applymap(color_negative_red)
fortalecer_Barcelona

In [89]:
# Cuenta a fortalecer en Madrid

In [90]:
fortalecer_Barcelona=data[data.Sucursal == "Madrid"].groupby(["Sucursal","Tipo_Cta"]).Importe.agg(["sum"]).rename(columns={'sum':'Importe'}).sort_values("Importe",ascending=False)
fortalecer_Barcelona=fortalecer_Barcelona.style.background_gradient(cmap=cm_g,high=True,subset='Importe').format({'Importe': "{:20,.2f}€"})
fortalecer_Barcelona=fortalecer_Barcelona.applymap(color_negative_red)
fortalecer_Barcelona

Respuesta:
    
En la tabla se muestran los importes clasificados por cuentas en valor descendente. por tanto, la ultima celda del Tipo_Cta será  será la cuenta que se ha de fortalecer. Plan Jubilación con 32,800.00€

In [91]:
fortalecer_Barcelona=data[data.Sucursal == "Madrid"].groupby(["Sucursal","Tipo_Cta"]).Importe.agg(["sum"]).rename(columns={'sum':'Importe'}).sort_values("Importe",ascending=False).tail(1)
fortalecer_Barcelona=fortalecer_Barcelona.style.background_gradient(cmap=cm_g,high=True,subset='Importe').format({'Importe': "{:20,.2f}€"})
fortalecer_Barcelona=fortalecer_Barcelona.applymap(color_negative_red)
fortalecer_Barcelona

### 8.	¿Cuántos nuevos clientes se han conseguido en 2010? ¿y en 2011?

In [92]:
# Nuevos clientes a lo largo de los años

In [93]:
clientes_nuevos=pd.DataFrame(data)
clientes_nuevos=clientes_nuevos[clientes_nuevos["Nuevo_Cliente"] =='Sí'].groupby(["Año"]).Nuevo_Cliente.count()
clientes_nuevos=pd.DataFrame(clientes_nuevos).rename(columns={'Nuevo_Cliente':'Núm.Nuevos_Clientes'}).sort_values("Año",ascending=True).tail()
clientes_nuevos=clientes_nuevos.style.background_gradient(cmap=cm_rsb,high=True)
clientes_nuevos

In [94]:
# Nuevos clientes 2010

In [95]:
clientes_n2010=pd.DataFrame(data)
clientes_n2010=clientes_n2010[clientes_n2010["Nuevo_Cliente"] =='Sí'].groupby(["Año"]).Nuevo_Cliente.count().reset_index().rename(columns={'Nuevo_Cliente':'Núm.Nuevos_Clientes'})
clientes_n2010=pd.DataFrame(clientes_n2010).loc[clientes_n2010["Año"]==2010,["Año","Núm.Nuevos_Clientes"]].set_index(["Año"])
clientes_n2010=clientes_n2010.style.background_gradient(cmap=cm_rsb,high=True)
clientes_n2010

Resultado:
    
Número de nuevos clientes en 2010: 66

In [96]:
# Nuevos clientes 2011

In [97]:
clientes_n2011=pd.DataFrame(data)
clientes_n2011=clientes_n2011[clientes_n2011["Nuevo_Cliente"] =='Sí'].groupby(["Año"]).Nuevo_Cliente.count().reset_index().rename(columns={'Nuevo_Cliente':'Núm.Nuevos_Clientes'})
clientes_n2011=pd.DataFrame(clientes_n2011).loc[clientes_n2011["Año"]==2011,["Año","Núm.Nuevos_Clientes"]].set_index(["Año"])
clientes_n2011=clientes_n2011.style.background_gradient(cmap=cm_rsb,high=True)
clientes_n2011

Resultado:
    
Número de nuevos clientes en 2010: 65

### 9.	Haga un análisis de los nuevos clientes. Si usted fuera el director del banco, ¿Dónde le gustaría mejorar? Haga un análisis detallado y comentado. (2 pts)

In [98]:
# Primero, se analizará cómo varía la entrada de los nuevos clientes a lo largo del año en los dos años

In [118]:
# YOUR TURN

Observaciones:

Como se pueden observar tanto en la tabla como en el diagrama, en los meses de enero el número de clientes es máximo, mientras que en febrero su valor disminuye. Además, la variación que se da entre meses es ligeramente mayor en 2010 que en 2011.

In [101]:
# A continuación, se analizará cómo varía el importe medio de los nuevos clientes

In [117]:
# YOUR TURN

Observaciones:

Se ha graficado la evolución del número de clientes con el importe medio que relizan estos clientes. Como se puede observar en el gráfico, exceptuando el primer intervalo de enero a febrero, la relación es dispar. Por ello, ocurre que en febrero de 2011 pese a que aumente el número de nuevos clientes la cantidad media de los importes disminuye. Lo mismo ocurre con los importes totales.

Observaciones:

Para estar seguros de la conclusión realizada en el apartado anterior se realiza el gráfico que compara el importe total con el número de nuevos clientes. En este caso, la conclusión alcanzada es la misma.

Conclusión:
Como directores del banco es importante frenar lo máximo posible la caída que se da entre los meses de enero y febrero para mantener un nivel de clientela nueva lo más constante posible. Sobre todo, es importante la primer caída de enero a febrero, porque en la segunda pese a que el número de nuevos clientes disminuya los importes medios y totales aumentan.

In [79]:
# A continuación se va a observar cómo se distribuyen los nuevos clientes por sucursales a lo largo de los años

In [116]:
# YOUR TURN

Observaciones:

Se ha decidido graficar la distribución de nuevos clientes según el año y según la sucursal para observar dónde se atraen más fácilmente a nuevos clientes. Se observa que para ambos años Pamplona es la sucursal con la mayor cantidad de nuevos clientes (con 25 y 38 en los años 2010 y 2011 respectivamente). 

Asimismo, se decide calcular la variación porcentual anual de estos datos. En el caso de la sucursales de Madrid y Barcelona no existe variación alguna, mientras que en Pamplona la subida es notoria y en Salamanca la bajada es muy pronunciada.

Conclusión:
    
Como directores del banco pediría replicar la estrategia que está siendo empleanda para la captación de clientes en Pamplona para que pueda ser replicada a todas las demás sucursales. Además, no se debería pasar por alto el decrecimiento repentino que sufre Salamanca en 2011 con respecto al 2010 y se debería tomar medidas inmediatas para que no ocurriera lo mismo de 2012 en adelante.

In [107]:
# También se va a observar cómo se distribuyen los nuevos clientes por tipo de cuenta a lo largo de los años

In [115]:
# YOUR TURN

Observaciones:

Se grafica la distribución de nuevos clientes según el año y según el tipo de cuenta para observar qué tipo de cuenta es más deseable para los nuevos clientes. Se observa que para ambos años la cuenta corriente es el tipo de cuenta con la mayor cantidad de nuevos clientes (con 26 nuevos clientes en ambos años) 

Asimismo, se decide calcular la variación porcentual anual de estos datos. El único caso en el que se aprecia una variación es en el fondo de inversión que disminuye un 6.25% con respecto al año anterior.

Conlusión:
    
Como director, quizás sea necesario fomentar las nuevas cuentas de Plan de Jubilación que, pese a que no hayan sufrido ningún cambio de 2010 a 2011 en cuanto al número de nuevos clientes, es el tipo de cuenta que más necesita ser fortalecida de las 5 (solo presenta 8 nuevos clientes en 2010 y 2011).

In [ ]:
# Por último se va a relizar un cálculo exhaustivo de los importes de los nuevos clientes

In [114]:
# YOUR TURN

Observaciones:
    
1.En la gráfica superior se presenta el histórico de los importes clasificados por años, meses y tipo de cuenta. Como se observa en la leyenda de la gráfica, se representan tanto el importe total como la media de los importes. También se destaca que los importes han disminuido en cantidad con respecto al año 2010, pero se puede ver que los importes se distribuyen más uniformemente en los distintos tipos de cuenta en 2011. Esto es algo muy destacable que también se puede observar en el crecimiento de las variaciones de los importes (totales y medios) con respecto al año anterior.

2.Mediante este gráfico también se puede observar la gran caída que sufren los importes de los nuevos clientes en el més de febrero (las barras prácticamente son invisibles) y las posterior subida de ingresos que se genera a partir de enero de 2011 (las barras tienden al alza, aunque siguen sin sin alcanzar los valores de enero de 2010).

3.El valor medio de los importes es de un valor no tan dispar en el caso de febrero de 2011, esto indica que el banco no está registrando tantos clientes en 2010 como lo hacía en 2011 anque este dato se conocía por la gráfica "Evolución de nuevos clientes.

Conlusión:
    
Como director del banco, parece que la estrategia de distribuir a los nuevos clientes de manera uniforme en los distintos tipos de cuenta va bien encaminda. La curva que se observa en los datos de 2011 es más aplanada y; como se puede ver en las gráficas "Evolución de importe medio" y "Evolución de importe total", las ganancias con los nuevos clientes están al alza con respecto a meses pasados. Como se ha mencionado en las observaciones, es necesaria la captación de nuevos clientes para que exista un aumento en los importes totales a partir del año 2011. Cabe destacar que la nueva clientela ha de estar homogéneamente distribuida como ya ha sido expresado en la conclusión de la distribución de clientes.